<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TV Show Recomendations </title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Take Quiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">General Recomendations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Your Go-To Website to get TV show recomendations</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Start To Get Personalized TV Show Recomendations Now!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">The Perfect TV Show Recomendations</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Take the quiz and get personalized TV Show recomendations! Or you can get general TV Show recomendations! Click the button to take the Quiz NOW!</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Take Quiz!</a>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">First Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Fred Flintstone">
        </div>
        <div class="container">
        <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_dropdown">Genre</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Comedy</option>
            <option>Drama</option>
            <option>Action</option>
            <option>Suspence</option>
            <option>Reality(n/a for HUlU</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_sel">What network do you want?</label>
          <select  class="form-control" name="input_dropdown" id="input_dropdown">
            <option>CW</option>
            <option>NBC</option>
            <option>ABC</option>
            <option>Netflix</option>
            <option>Hulu</option>
          </select>
        </div>
        </div>
        <div class="form-group">
          <label for="input_select">What type of show do you want?</label>
          <select  class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Past</option>
            <option>Current</option>
          </select>
        </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../static/Comedy_Image.jpg">
              <img class="img-fluid" src="../static/Comedy_Image.jpg"
              alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <h2><strong>Comedy</strong></h2>
                  </div>
                  <div class="project-name">
                    Looking for Something Funny?
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../static/Drama_Image.jpg">
              <img class="img-fluid" src="../static/Drama_Image.jpg"
              alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <h2><strong>Drama</strong></h2>
                  </div>
                  <div class="project-name">
                    Loking for something...
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../static/Adventure.jpg">
              <img class="img-fluid" src="../static/Adventure.jpg"
              alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <h2><strong>Action/Adventure</strong></h2>
                  </div>
                  <div class="project-name">
                    Looking for something adventerous?
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../static/DC-Superhero-PTSD.jpg">
              <img class="img-fluid" src="../static/DC-Superhero-PTSD.jpg"
              alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <h2><strong>Superhero</strong></h2>
                  </div>
                  <div class="project-name">
                    Looking for something...
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../static/img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="../static/img/portfolio/thumbnails/5.jpg"
              alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <h2><strong>Suspence</strong></h2>
                  </div>
                  <div class="project-name">
                    Looking for something...
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../static/romance.jpg">
              <img class="img-fluid" src="../static/romance.jpg"
              alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    <h2><strong>Romance</strong></h2>
                  </div>
                  <div class="project-name">
                    Looking for something romantic?
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/creative.min.js"></script>

  </body>

</html>
